
/*  */
@media(min-width:340px){
    .spacial-heading{
      font-size: 25px;
      font-weight: 600;
      margin-top: auto;
  
    }
    .input-search{
        width: 50px;
        height: 50px;
    }
    .input-search::placeholder{
        font-size: 10.8px;
        color: white;
    }
    .btn-search{
        width: 50px;
        height: 50px;
  
    }
    .btn-search:focus ~ .input-search{
        width: 150px;
    }
    .input-search:focus{
        width: 150px;
    }
    
  
  }
  
  @media (min-width:767px){
    .spacial-heading{
      font-size: 30px;
      font-weight: 700;
      margin-top: auto;
  
    }
    .input-search{
        width: 50px;
        height: 50px;
    }
    .input-search::placeholder{
        font-size: 16px;
        color: white;
    }
    .btn-search{
        width: 50px;
        height: 50px;
    }
    .btn-search:focus ~ .input-search{
        width: 200px;
    }
    .input-search:focus{
        width: 200px;
    }
    .spacial-heading{
        font-size: 60px;
        text-align: center;
  
    }
  }
  
  @media(min-width:768px){
    .spacial-heading{
      margin-top: auto;
  
    }
    .input-search{
        width: 50px;
        height: 50px;
    }
    .input-search::placeholder{
        font-size: 18px;
        color: white;
    }
    .btn-search{
        width: 50px;
        height: 50px;
    }
    .btn-search:focus ~ .input-search{
        width: 300px;
    }
    .input-search:focus{
        width: 300px;
    }
    
  }
  
@media (min-width:364px){
   
  
    .spacial-heading + p{
        margin-top: -20px;
    }
    .portfolio .portfolio-content .card{
        text-align: center;
    }

    .Contact .info .link,
    .Contact .info .label{
        font-size: 25px;

    }
    .portfolio{
        width: 100%;
    }
  
}




/* small */

@media(min-width:768px){
    .container{
        width: 750px;
    }
    
    .spacial-heading{
        font-size: 80px;
        text-align: center;

    }
    .spacial-heading + p{
        margin: -30px 0 0;
        font-size: 20px;
        text-align: center;
        color: #797979;
    }
  
    
}

/* medium */

@media (min-width:992px){
    .container{
        width: 970px;
    }
  
}

/* large */

@media (min-width:1200px){
    .container{
        width: 1170px;
    }
    .input-search{
        width: 80px;
        height: 80px;
        border-radius: 50%;

    }
    .input-search::placeholder{
        font-size: 18px;
        color: white;
    }
    .btn-search{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    .btn-search:focus ~ .input-search{
        width: 300px;
    }
    .input-search:focus{
        width: 300px;
    }
}


@media (max-width:1199px){
    .image_col{
        display: none;
    }
  
    
}

@media(max-width:991px){
    .portfolio .portfolio-content h3{
        text-align: center;
        
    }
    .About .About-content{
        flex-direction: column;
        text-align: center;


    }

    .About .About-content .image2::after,
    .About .About-content .image2::before{
        display: none;

    }

    .About .About-content .image2{
        margin: 0 auto 60px;
    }
}